.header {
    
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .imgBusiness{
        width:250px;
    }
    .content {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 60%;
        align-items: center;
    }

    .titleBusiness{
        font-family: 'Tangerine', cursive;
        font-size: 90px;
        color: white;
    }
}

.waze {
    
    height: 200px;
    width: 100%;
}


@media  (max-width:500px) {

    .header {
        .titleBusiness{
            
            font-size: 60px;
            
        }

        .imgBusiness{
            width:150px;
        }

        .content {
            margin-top: 20px;
            
            width: 100%;
            
        }
    }

    .waze {
    
        height: 100px;
    }
    
}